<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<!-- Properties -->
	<property name="LOGS_HOME" value="${catalina.home}/logs/academy" />	
	
	<!-- Appenders -->	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{70} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE-SERVICE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_HOME}/service_layer.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{ISO8601} [%-5p][%-21.21t][%67c] - %m%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_HOME}/archived/service_layer.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>	
	<appender name="FILE-ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_HOME}/overall.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{ISO8601} [%-5p][%-21.21t][%70c] - %m%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_HOME}/archived/overall.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	<appender name="FILE-ORM" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_HOME}/orm_history.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{ISO8601} [%-5p][%-21.21t][%-80c] - %m%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_HOME}/archived/orm_history.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	<appender name="FILE-SPRING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_HOME}/spring_history.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{ISO8601} [%-5p][%-21.21t][%-80c] - %m%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_HOME}/archived/spring_history.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
		
	<!-- Loggers -->
	<logger name="com.gmail.ivanytskyy.vitaliy.service" level="debug">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE-SERVICE" />
	</logger>
	<logger name="org.hibernate" level="warn" additivity="false">
		<appender-ref ref="FILE-ORM" />
	</logger>
	<logger name="org.springframework" level="warn" additivity="false">
		<appender-ref ref="FILE-SPRING" />
	</logger>
	<logger name="root" level="warn">
		<appender-ref ref="FILE-ROOT"/>
	</logger>
</configuration>